body {
	background-color: #fdf1e7;
}

.splash-wrapper {
	max-width: 80%;
	text-align: center;
	margin: auto;
}

.splash {
	text-align: center;
	margin-top: 12rem;
}

.splash > h1 {
	font-family: 'Nova Square', cursive;
	color: #8B3626;
	font-size: 8rem;
	font-weight: 500;
	text-align: center;
}

.splash > p {
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
}

.logo {
	position: relative;
	height: 10rem;
	padding-right: 2rem;
	-webkit-transform: translateY(15%);
	-moz-transform: translateY(15%);
	-ms-transform: translateY(15%);
	-o-transform: translateY(15%);
	transform: translateY(15%);
}

.info-wrapper {
	margin-top: 2rem;
}

.info, .info:visited, .info:active {
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 1.5rem;
	text-decoration: underline;
}

.info:hover {
	color: #8B3626;
}

@media(min-width: 992px) {
	.splash > h1 {
		font-size: 15rem;
	}
	.logo {
		height: 14rem;
	}
}

@media(max-width: 767px) {
	.logo {
		padding-bottom: 2rem;
		padding-right: 0;
	}
	.splash {
		margin-top: 4rem;
	}
}


